*{
  box-sizing: border-box;
}

.boxStart{
    height: 200px;
    width: 200px;
    border: 1px solid red;
}

.ghost{
    position: relative;
    height: 100%;
    width: 80%;
    top: 0;
    left: 10%;
    border: 1px solid black;
    border-radius: 20px;
    background-color: green;
    border-radius: 40%;
    z-index: 3;
}

.eyes{
    position: absolute;
    display: inline-block;;
    height: 30%;
    width: 30%;
    border-radius: 10%;
    bottom: 45%;
    background-color: white;
    border-radius: 50%;
}

.eyeleft{
    left: 10%;
}

.eyeright{
    right: 10%;
}

.eyes:after{
    position: absolute;
    bottom: 25%;
    content: " ";
    background-color: black;
    height: 50%;
    width: 50%;
    left: 20%;
    border-radius: 50%;
}





