*{
  box-sizing: border-box;
}

.boxStart{
    height: 200px;
    width: 200px;
    border: 1px solid red;
}

.ghost{
    position: relative;
    height: 100%;
    width: 80%;
    top: 0;
    left: 10%;
    border: 1px solid black;
    border-radius: 20px;
    background-color: green;
    border-radius: 20px;
    z-index: 3;
}

.eyes{
    position: absolute;
    display: inline-block;
    height: 30%;
    width: 30%;
    border-radius: 10%;
    bottom: 45%;
    background-color: white;
}

.eyeleft{
    left: 10%;
}

.eyereight{
    right: 10%;
}