*{
  box-sizing: border-box;
}

.boxStart{
    height: 200px;
    width: 200px;
    border: 1px solid red;
    background-color: black;
}

.ghost{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 80%;
    border: 1px solid black;
    border-radius: 20px;
    background-color: green;
    border-radius: 40%;
    z-index: 3;
}

.eyes{
    position: absolute;
    display: inline-block;;
    height: 30%;
    width: 30%;
    border-radius: 10%;
    bottom: 45%;
    background-color: white;
    border-radius: 50%;
}

.eyeleft{
    left: 10%;
}

.eyeright{
    right: 10%;
}

.eyes:after{
    position: absolute;
    bottom: 25%;
    content: " ";
    background-color: black;
    height: 50%;
    width: 50%;
    left: 20%;
    border-radius: 50%;
}

.pacman{
    z-index: 2;
    position: relative;
    height: 80%;
    width: 80%;
    left: 10%;
    top: 10%;
    border-radius: 50%;
    background-color: yellow;
}

.eye{
    position: absolute;
    left: 20%;
    top: 20%;
    width: 20%;
    height: 20%;
    background-color: black;
    border-radius: 50%;
}

.mouth{
    position: absolute;
    bottom: 35%;
    left: 60%;
    width: 40%;
    height: 10%;
    background-color: black;
}

.dot{
    position: relative;
    left: 35%;
    top: 35%;
    width: 25%;
    height: 25%;
    background-color: white;
    border-radius: 50%;
}

.superdot{
    position: relative;
    left: 25%;
    top: 25%;
    width: 50%;
    height: 50%;
    background-color: goldenrod;
    border-radius: 50%;
}

.wall{
    background-color: blue;
    width: 100%;
    height: 100%;
}

.grid{
    margin: auto;
    padding-top: 40px;
    justify-content: center;
    display: grid;
    cursor: grab;
    background-color: black;
    overflow: hidden;
    display: grid;
}

.box{
    font-size: 3rem;
    text-align: center;
    position: relative;
}

.scoreBoard{
    background-color: black;
    text-align: center;
    font-size: 2rem;
    color: white;
    padding: 20px;
}

